.carousel img {
    width: 100%
}

.dark-wrapper {
    background-color: #464646;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.form-group {
    margin-bottom: 1rem;
}

.btn {
    color: white;
}